@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --primary-color: rgba(0, 70, 128, 0.97);
  --solid-prime: rgba(0, 70, 128, 1);
  --light-p-color: rgba(84, 177, 253, 0.9);
  --text-on-prime: #ffffff;
  --margin-sides: 1em;
}

body {
  background: white;
  margin: 0;
  font-family: "Merriweather", serif;
}

.hide {
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  padding-top: 0;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
}

.menu-bar {
  display: none;
}

.menu-items {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-on-prime);
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
  width: 100%;
  max-width: 100%;
}

.navbar .menu a {
  color: var(--text-on-prime);
  text-decoration: none;
  position: relative;
  padding: 1.6em;
  margin-top: 2em;
}

.menu-items {
  margin: 0;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px);
  color: var(--text-on-prime);
  display: none;
  position: sticky;
}

.menu-items ul {
  list-style-type: none;
  margin-top: 0;
  padding: 1em;
  padding-right: 2em;
}

.menu-items a {
  color: var(--text-on-prime);
  text-decoration: none;
}

.page-wrap {
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-wrap .page-content {
  padding-left: var(--margin-sides);
  padding-right: var(--margin-sides);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1em;
}

.page-wrap .page-content figure {
  display: flex;
  justify-content: center;
}

.page-wrap .page-content figure img {
  width: 80%;
}

.page-wrap .page-content h2 {
  margin-top: 0.4em;
  margin-bottom: 0em;
}

@media only screen and (min-width: 1080px) {
  :root {
    --nav-margin:8vw;
    --margin-sides: 10em;
  }
  .navbar {
    background-color: var(--primary-color);
    color: var(--text-on-prime);
    z-index: 1;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    padding-left: var(--nav-margin);
    padding-right: var(--nav-margin);
    width: 100%;
    max-width: 100%;
  }
  .navbar .menu {
    display: none;
  }
  .menu-items {
    display: none;
  }
  .menu-bar {
    display: none;
  }
  .menu-bar ul {
    color: var(--text-on-prime);
  }
  .page-wrap {
    padding-left: var(--margin-sides);
    padding-right: var(--margin-sides);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .page-content {
    flex: 2;
    padding-left: var(--margin-sides);
    padding-right: var(--margin-sides);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
  }
  .page-content figure {
    display: flex;
    justify-content: center;
  }
  .page-content figure img {
    width: 80%;
  }
  .page-content h2 {
    margin-top: 0.4em;
    margin-bottom: 0em;
  }
  .page-content-sidebar {
    flex: 1;
  }
}
/*# sourceMappingURL=main.css.map */